/* Style commun */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

/* Accueil */
.page-accueil {
    background-color: #1e1e1e;
    color: white;
}

/* Page 2 */
.page-2 {
    background-color: #112c54;
    color: #fff;
}

/* Page 3 */
.page-3 {
    background-color: #0a270b;
    color: #fff;
}

.page-4 {
    background-color: #052a06;
    color: #ffffff;
}



/* Boutons */
button {
    padding: 12px 20px;
    font-size: 16px;
}
.menu {
    background-color: #111;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: background 0.3s;
}

.menu-link:hover {
    background-color: #333;
}
.menu-link.active {
    background-color: #1976d2;
    color: white;
}
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
.progress {
    width: 300px;
    height: 20px;
    background: #333;
    border-radius: 10px;
}

.bar {
    height: 100%;
    border-radius: 10px;
}

.html { width: 70%; background: orange; }
